body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff512f, #dd2476);
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("/static/restaurant.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ff512f;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff512f;
    color: white;
    padding: 10px;
    border: none;
    width: 95%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e0431f;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}